nav#sidenavAccordion.sb-sidenav.accordion.sb-sidenav-dark
    .sb-sidenav-menu
        .nav
            .sb-sidenav-menu-heading Core
            a.nav-link(href='/')
                .sb-nav-link-icon
                    i.fas.fa-tachometer-alt
                | Dashboard
            a.nav-link(href='/chart_daily')
                .sb-nav-link-icon
                    i.fas.fa-tachometer-alt
                | 1일데이타
            a.nav-link(href='/chart_monthly')
                .sb-nav-link-icon
                    i.fas.fa-tachometer-alt
                | 1달 데이타
            a.nav-link(href='/chart_effective')
                .sb-nav-link-icon
                    i.fas.fa-tachometer-alt
                | 효율
            a.nav-link(href='/chart_isp')
                .sb-nav-link-icon
                    i.fas.fa-tachometer-alt
                | ISP별

